<% provide(:title, 'Contact Us') %>
<h1 class="pt-5 text-center">Contact Us</h1>

<div class="container pt-5">
  <div class="jumbotron">
    <h1 class="display-4 text-center">Feedbacks?</h1>
    <p class= "text-center">If you have any questions, feel free to fill in the form below.</p>
    <hr class="my-4">

    <%# <form>
    <div class="row">
      <div class="col">
        <label>First Name</label>
        <input type="text" class="form-control" placeholder="First name">
      </div>
      <div class="col">
        <label>Last Name</label>
        <input type="text" class="form-control" placeholder="Last name">
      </div>
    </div>
    <div class="form-group">
      <label>Email address</label>
      <input type="email" class="form-control" placeholder="Email address">
    </div>
    <div class="form-group">
      <label>Comments</label>
      <textarea class="form-control" rows="4"></textarea>
    </div> %>
    <input type="submit" value="Submit" class="btn btn-primary btn-block"> 
  <%# </form> %>
  
</div>
</div>
